{% extends 'base.html.twig' %}

{% block title %}
	Administration des utilisateur
{% endblock %}

{% block body %}
	<div class="container-fluid row mt-4">
		<h1>liste des utilisateur</h1>
		<div class="col-md-2 my-5">
			<ul class="list-group">
				<li class="list-group-item"> <a href="{{ path('admin_categorie') }}" class="text-decoration-none">Liste des categories</a> </li>
				<li class="list-group-item"> <a href="{{ path('admin_plat') }}" class="text-decoration-none">Liste des plats</a> </li>
				<li class="list-group-item"> <a href="{{ path('admin_commande') }}" class="text-decoration-none">Liste des commandes</a> </li>
				<li class="list-group-item list-group-item-action list-group-item-dark"> <a href="{{ path('admin_user') }}" class="text-decoration-none">Liste des utilisateur</a> </li>
			</ul>
		</div>
		<div class="col-lg-10">
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom</th>
						<th class="d-none d-lg-table-cell d-print-teble-cell" scope="col">Email</th>
						<th class="d-none d-lg-table-cell d-print-teble-cell" scope="col">Role</th>
						<th scope="col">suppresion</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr class="table-primary">
							<th scope="row">{{ user.id }}</th>
							<td>{{ user.prenom}} {{ user.nom}}</td>
							<td class="d-none d-lg-table-cell d-print-teble-cell">{{ user.email }}</td>
							<td class="d-none d-lg-table-cell d-print-teble-cell">{{ user.roles[0]}}</td>
							<td>
								<a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-warning">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(users) }}
			</div>
		</div>
	</div>
{% endblock %}