{% extends 'base.html.twig' %}

{% block title %}
	Catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class=" mt-4">Liste des catégories</h1>
		<p>Bon choix a vous:</p>
		<div class="row">
			{% for categorie in categories %}
				{% if categorie.active == 'Yes' %}
					<div class="col-lg-4 my-2">
						<div class="card border-dark" style="height: 33rem;">
							<div class="card-body">
								<h4 class="card-title">{{ categorie.libelle }}</h4>
								<img src="{{ asset('media/') }}{{ categorie.image }}" alt="{{ categorie.libelle }}" heigh="330px" width="280px">
								<br>
								<a href="{{ path('categorie_show', {'id': categorie.id}) }}" class="btn btn-primary mt-2">liste des Plats</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
