{% extends 'base.html.twig' %}

{% block title %}
Acceuil
{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center">
        <img src="{{ asset('media/assiette2.jpg') }}" alt="logo" class="">
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-8 col-md-10">{{ form_widget(form.recherche, {'attr': {'placeholder': 'Recherche', 'class':
            'mt-4'}}) }}</div>
        <div class="col-2"> {{ form_widget(form.submit) }}</div>
    </div>
    {{ form_end(form) }}

    <h1 class="mt-4">Bienvenue sur le site de notre restaurant The District</h1>
    <p class="fs-5">Notre restaurant propose plusieur plat pour tout les gouts, plusieur categorie de plat sont mise a votre
        disposition</p>
    <br>
    <p>Bon choix a vous:</p>
    <div class="row">
        {% for categorie in categories %}
        <div class="col-lg-4 my-2 d-flex justify-content-center">
            <div class="card m-2 carte" style="width: 18rem;">
                <img src="{{ asset('media/') }}{{ categorie.image }}" class="card-img-top"
                    alt="{{ categorie.libelle }}">
                <div class="card-body">
                    <h4 class="card-title">{{ categorie.libelle }}</h4>
                    <a href="{{ path('categorie_listPlat', {'id': categorie.id}) }}" class="btn btn-primary mt-2">liste des
                        Plats</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for plat in plats %}
        <div class="col-lg-4 mt-3 d-flex justify-content-center">
            <div class="card carte" style="width: 18rem;">
                <img src="{{ asset('media/') }}{{ plat.image }}" class="card-img-top" alt="{{ plat.libelle }}">
                <div class="card-body">
                    <h4 class="card-title">{{ plat.libelle }}</h4>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('plat_detail', {'id': plat.id}) }}" class="btn btn-primary">Description</a>
                        <p class="fs-3">{{ plat.prix }}€</p>
                    </div>                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}