{% extends 'base.html.twig' %}

{% block title %} Inscription
{% endblock %}

{% block body %}
	<div class="container">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1 class="mt-2">Inscription</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.nomPrenom) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword) }}


		<button type="submit" class="btn btn-primary">Enregistre</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
