<nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">The District</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse row" id="navbarColor01">
			<ul class="navbar-nav me-auto col-lg-9">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('home') }}">Acceuil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('categorie') }}">Catégotrie</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('plat') }}">Plats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('contact') }}">Contact</a>
				</li>
			</ul>
			<ul class="navbar-nav me-auto col-lg-3">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('cart') }}">Panier</a>
				</li>
				{% if app.user %}
					<li class="nav-item dropdown" style="margin-right: 5rem;">
						<a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.prenom }} {{ app.user.nom}}</a>
						<div class="dropdown-menu bg-black">
							<a class="dropdown-item link-light lien" href="{{ path('user_edit',{'id': app.user.id}) }}">Modifier mes information</a>
                  			<a class="dropdown-item link-light lien" href="{{ path('user_edit_password',{'id': app.user.id}) }}">Modifier mon mot de passe</a>
							<a class="dropdown-item link-light lien" href="{{ path('app_commande', {'id': app.user.id}) }}">Mes commande</a>
							{% if 'ROLE_ADMIN' in app.user.roles %}
								<div class="dropdown-divider"></div>
								<a class="dropdown-item link-light lien" href="{{ path('app_admin') }}">Administration</a>
							{% endif %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item link-light lien" href="{{ path('app_logout') }}">Déconnexion</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login') }}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_register') }}">Inscription</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>