{% extends 'base.html.twig' %}

{% block title %}
	Administration des categories
{% endblock %}

{% block body %}
	<div class="container-fluid row mt-4">
		<div class="col-2 mb-5">
			<div class="card border-dark mb-3" style="max-width: 20rem;">
				<div class="card-body">
					<h4>
						liste de commande
					</h2>
					<ul>
						<li><a href="{{ path('admin_categorie') }}">liste des categories</a></li>
						<li><a href="{{ path('admin_plat') }}">liste des plats</a></li>
						<li><a href="{{ path('admin_commande') }}">liste des commandes</a></li>
						<li><a href="{{ path('admin_user') }}">liste des utilisateur</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-10">
			<div class="row">
			<h1 class="col-10">liste des categories</h1>
			<a href="{{ path('admin_categorie_new') }}" class="btn btn-primary col-2">nouvelle categorie</a>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">image</th>
						<th scope="col">Edition</th>
						<th scope="col">suppresion</th>
					</tr>
				</thead>
				<tbody>
					{% for categorie in categories %}
						<tr class="table-primary">
							<th scope="row">{{ categorie.id }}</th>
							<td>{{ categorie.libelle }}</td>
							<td>{{ categorie.image }}</td>
							<td>
								<a href="{{ path('admin_categorie_edit', {'id': categorie.id}) }}" class="btn btn-info">Modifier</a>
							</td>
							<td>
								<a href="{{ path('admin_categorie_delete', {'id': categorie.id}) }}" class="btn btn-warning">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
