{% extends "base.html.twig" %}

{% block title %} Contact{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-3">Contact</h1>
    {{ form_start(form) }}
    {{ form_row(form.auteur) }}
    {{ form_row(form.email) }}
    {{ form_row(form.suject) }}
    {{ form_row(form.contenu) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
