{% extends "base.html.twig" %}

{% block title %} Payment{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">commande</h1>
    <div class="row">
        <div class="col-4 m-4 bg-dark text-white">
            <h2 class="justify-content-center text-white">liste de la commande</h2>
            <div class="d-flex justify-content-between">
                <p>
                    Numero: {{ commande.id }}
                </p>
                <p>
                    Date: {{ commande.dateCommande|date('d/m/Y') }}
                </p>
            </div>
            {% set i = 0 %}
            {% set total = 0 %}
            {% for plat in plats %}
            {% set i = i + 1 %}
            {% set ptotal = 0 %}
            {% set ptotal = plat.prix * quantites[plat.id] %}
            {% set total = total + ptotal %}
            <div class="row">
                <div class="col-1">
                    {{ i }}
                </div>
                <div class="col-4">
                    {{ plat.libelle }}
                </div>
                <div class="col-2">
                    {{ plat.prix }}€
                </div>
                <div class="col-2">
                    {{ quantites[plat.id] }}
                </div>
                <div class="col-2">
                    {{ptotal}}.00€
                </div>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-end me-4">{{ total }},00€</div>
            <br>
            <div class="row">
                <div class="col-2">
                    Nom:
                </div>
                <div class="col-4">
                    {{ commande.user.nom }} {{ commande.user.prenom }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    Adresse:
                </div>
                <div class="col-9">
                    {{ commande.user.adresse }} {{ commande.user.cp }} {{ commande.user.ville }}
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Email:
                </div>
                <div class="col-2">
                    {{ commande.user.email }}
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    Num Tel:
                </div>
                <div class="col-2">
                    {{ commande.user.telephone }}
                </div>
            </div>
        </div>
        <div class="justify-content-center col-4">
            <div class="card m-4">
                <div class="card-body">
                    {% for message in app.flashes('success') %}
                    <div style="color: green;
                                border: 2px green solid;
                                text-align: center;
                                padding: 5px;margin-bottom: 10px;">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% set payer = commande.total %}
                    <form id='checkout-form' method='post'
                        action="{{ path('app_stripe_charge',{commande: commande.id }) }}">
                        <input type='hidden' name='stripeToken' id='stripe-token-id'>
                        <label for="card-element" class="mb-5">Payment la commande</label>
                        <br>
                        <div id="card-element" class="form-control"></div>
                        <button id='pay-btn' class="btn btn-pimary mt-3" type="button"
                            style="margin-top: 20px; width: 100%;padding: 7px;" onclick="createToken()">payer {{ payer
                            }}€
                        </button>
                        <form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    var stripe = Stripe("{{stripe_key}}");
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    function createToken() {
        document.getElementById("pay-btn").disabled = true;
        stripe.createToken(cardElement).then(function (result) {


            if (typeof result.error != 'undefined') {
                document.getElementById("pay-btn").disabled = false;
                alert(result.error.message);
            }

            // creating token success
            if (typeof result.token != 'undefined') {
                document.getElementById("stripe-token-id").value = result.token.id;
                document.getElementById('checkout-form').submit();
            }
        });
    }
</script>
{% endblock %}