{% extends 'base.html.twig' %}

{% block title %}
	Administration des utilisateur
{% endblock %}

{% block body %}
	<div class="container-fluid row mt-4">
		<h1>liste des commandes</h1>
		<div class="col-md-2 my-5">
			<ul class="list-group">
				<li class="list-group-item"> <a href="{{ path('admin_categorie') }}" class="text-decoration-none">liste des categories</a> </li>
				<li class="list-group-item"> <a href="{{ path('admin_plat') }}" class="text-decoration-none">liste des plats</a> </li>
				<li class="list-group-item list-group-item-action list-group-item-dark"> <a href="{{ path('admin_commande') }}" class="text-decoration-none">liste des commandes</a> </li>
				<li class="list-group-item"> <a href="{{ path('admin_user') }}" class="text-decoration-none">liste des utilisateur</a> </li>
			</ul>
		</div>
		<div class="col-lg-10">
			
			<table class="table table-hover">
				<thead>
					<tr class="row">
						<th class="d-none d-lg-table-cell d-print-teble-cell col-1" scope="col">Id</th>
						<th class="col-3 col-lg-1" scope="col">Etat</th>
						<th class="d-none d-lg-table-cell d-print-teble-cell col-2" scope="col">Date de commande</th>
						<th class="col-2 col-lg-2" scope="col">total a payer</th>
						<th class="d-none d-lg-table-cell d-print-teble-cell col-2" scope="col">Email</th>
						<th class="col-3 col-lg-2" scope="col">modifier</th>
						<th class="col-4 col-lg-2" scope="col">suppresion</th>
					</tr>
				</thead>
				<tbody>
					{% for commande in commandes %}
						<tr class="table-primary row">
							<th class="d-none d-lg-table-cell d-print-teble-cell col-1" scope="row">{{ commande.id }}</th>
							<td class="col-3 col-lg-1">
								{% if commande.etat == 0 %}
									Validée
								{% else %}
									{% if commande.etat == 1 %}
										En préparation
									{% else %}
										{% if commande.etat == 2 %}
											En cours de livraison
										{% else %}
											{% if commande.etat == 3 %}
												Livrée
											{% else %}
												Annulée		
											{% endif %}		
										{% endif %}		
									{% endif %}
								{% endif %}
							</td>
							<td class="d-none d-lg-table-cell d-print-teble-cell col-2">{{ commande.dateCommande|date('d/m/Y') }}</td>
							<td class="col-2 col-lg-2">{{ commande.total }}€</td>
							<td class="d-none d-lg-table-cell d-print-teble-cell col-2">{{ commande.user.email }}</td>
							<td class="col-3 col-lg-2">
								<a href="{{ path('admin_commande_edit', {'id': commande.id}) }}" class="btn btn-info">Modifier</a>
							</td>
							<td class="col-4 col-lg-2">
								<a href="{{ path('admin_commande_delete', {'id': commande.id}) }}" class="btn btn-warning">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(commandes) }}
			</div>
		</div>
	</div>
{% endblock %}