{% extends 'base.html.twig' %}

{% block title %}
	Catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<img src="{{ asset('media/assiette2.jpg') }}" alt="logo" class="">
		</div>
		<h1 class=" mt-4">Liste des catégories</h1>
		<p>Bon choix a vous:</p>
		<div class="row">
			{% for categorie in categories %}
				{% if categorie.active == 'Yes' %}
					<div class="col-lg-4 my-2 d-flex justify-content-center ">
						<div class="card m-2 carte " style="width: 18rem;">
							<img src="{{ asset('media/') }}{{ categorie.image }}" class="card-img-top" alt="{{ categorie.libelle }}">
							<div class="card-body">
								<h4 class="card-title">{{ categorie.libelle }}</h4>                   
								<br>
								<a href="{{ path('categorie_listPlat', {'id': categorie.id}) }}" class="btn btn-primary mt-2">liste des
									Plats</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(categories) }}
		</div>
	</div>
{% endblock %}
