{% extends "base.html.twig" %}

{% block title %}
{{ categories.libelle }}
{% endblock %}

{% block body %}
<div class="container">
	<div class="d-flex justify-content-center">
		<img src="{{ asset('media/assiette2.jpg') }}" alt="logo">
	</div>
	<h1 class="mt-4">liste des plats de la categorie {{ categories.libelle }}</h1>
	<div class="row">
		{% for plat in categories.plats %}
			{% if plat.active == true %}
				<div class="col-lg-4 mt-3 d-flex justify-content-center">
					<div class="card carte" style="width: 18rem;">
						<img src="{{ asset('media/') }}{{ plat.image }}" class="card-img-top rounded" alt="{{ plat.libelle }}">
						<div class="card-body">
							<h4 class="card-title">{{ plat.libelle }}</h4>
							<br>
							<div class="d-flex justify-content-between">
								<a href="{{ path('plat_detail', {'id': plat.id}) }}" class="btn btn-primary">Description</a>
								<p class="fs-3">{{ plat.prix }}€</p>
							</div>						
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}