{% extends "base.html.twig" %}

{% block title %}
	{{plat.libelle}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<img src="{{ asset('media/assiette2.jpg') }}" alt="logo" class="">
		</div>
		<h1 class="mt-4">{{ plat.libelle }}</h1>
		<div class="row">
			<div class="col-lg-6 col-12">
				<img src="{{ asset('media/') }}{{ plat.image }}" alt="{{ plat.libelle }}" class="img-fluid rounded">								
			</div>
			<div class="col-lg-6 col-12">
				<div class="mx-4 text-xl">
					<p class="fs-3">Prix: {{ plat.prix }}€</p>
					<p class="fs-4">{{ plat.description|raw }}</p>
					<a href="{{ path('cart_add', {'id': plat.id}) }}" class="btn btn-primary">panier</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
