{% extends 'base.html.twig' %}

{% block title %}
	Plats
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<img src="{{ asset('media/assiette2.jpg') }}" alt="logo" class="">
		</div>
		<h1 class=" mt-4">Liste des plats</h1>
		<p>Bon choix a vous:</p>
		<div class="row">
			{% for plat in plats %}
				{% if plat.active == true %}
					<div class="col-lg-4 mt-3 d-flex justify-content-center">
						<div class="card carte" style="width: 18rem; height: 28rem;">
							<img src="{{ asset('media/') }}{{ plat.image }}" class="card-img-top" alt="{{ plat.libelle }}">
							<div class="card-body">
								<h4 class="card-title">{{ plat.libelle }}</h4>
								<br>
								<div class="d-flex justify-content-between">
									<a href="{{ path('plat_detail', {'id': plat.id}) }}" class="btn btn-primary">Description</a>
									<p>{{ plat.prix }}€</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(plats) }}
		</div>
	</div>
{% endblock %}