{% extends "base.html.twig" %}

{% block title %}
	{{plat.libelle}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<img src="media/assiette2.jpg" alt="" class="">
		</div>
		<h1 class="mt-4">{{ plat.libelle }}</h1>
		<div class="row">
			<div class="col-md-6">
				<img src="media/{{ plat.image }}" alt="{{ plat.libelle }}" class="img-fluid img-thumbnail">
			</div>
			<div class="col-md-6">
				<div class="mx-4 text-xl">
					<p>Prix: {{ plat.prix }}€</p>
					<p>{{ plat.description|raw }}</p>
					<button class="btn btn-primary">panier</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
